{% extends "admin/chefs/layout.njk" %}

{% block head %}
    <title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}
    <section>
        <div class="chef-page-header">
            <h2>Gerenciar chefs</h2>

            {% if session.isAdmin %}
                <div class="chef-page-buttons-action">
                    <a href="/admin/chefs/create">Cadastrar chef</a>
                </div>
            {% endif %}
        </div>

        <article class="chefs">
            {% for chef in chefs %}
                <div class="chef">
                    <div class="chef-image">
                        <img src="{{chef.file_src}}" alt="Chef {{ chef.name }}">
                    </div>

                    <div class="chef-content">
                        <p class="chef-name">{{ chef.name }}</p>

                        <a href="/admin/chefs/{{ chef.id }}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </article>
    </section>

    <div class="pagination" data-total="{{pagination.total}}" data-page="{{pagination.page}}"></div>

    <script src="/scripts/pagination.js"></script>
{% endblock %}