{% extends "layout-chefs.njk" %}

{% block head %}
    <title>Foodfy - {{ chef.name }}</title>
{% endblock %}

{% block content %}
    <section class="chef-page">
        <div class="chef-page-header">
            <h2>Chef: {{ chef.name }}</h2>

            <div class="chef-page-buttons-action">
                <a href="/admin/chefs/{{chef.id}}/edit">Editar chef</a>
            </div>
        </div>

        <div class="chef-page-title">
            <img src="{{file.src}}" alt="Imagem do chef {{chef.chef}}" id="chef">

            <h1>{{ chef.name }}</h1>

            <div class="chef-number-recipes">
                {% if chef.total_recipes == 0 %}
                    <p>Sem receita</p>
                {% elif chef.total_recipes == 1 %}
                    <p>{{ chef.total_recipes }} receita</p>
                {% else %}
                    <p>{{ chef.total_recipes }} receitas</p>
                {% endif %}
            </div>
        </div>

        <article>
            {% if chef.total_recipes == 0 %}
                <h2>Sem receita</h2>
            {% elif chef.total_recipes == 1 %}
                <h2>Receita</h2>

                <div class="chef-recipe-container">
                    {% for recipe in recipes %}
                        <div class="chef-recipe">
                            <div class="chef-recipe-image">
                                <img src="{{ recipe.image }}" alt="Imagem do prato {{ recipe.title }}">
                            </div>

                            <div class="chef-recipe-content">
                                <p class="chef-recipe-name">{{ recipe.title }}</p>
                                <p class="name-chef">por {{ chef.name }}</p>
                                <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2>Receitas</h2>

                <div class="chef-recipe-container">
                    {% for recipe in recipes %}
                        <div class="chef-recipe">
                            <div class="chef-recipe-image">
                                <img src="{{ recipe.image }}" alt="Imagem do prato {{ recipe.title }}">
                            </div>

                            <div class="chef-recipe-content">
                                <p class="chef-recipe-name">{{ recipe.title }}</p>
                                <p class="name-chef">por {{ chef.name }}</p>
                                <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </article>
    </section>
{% endblock %}