{% extends "admin/users/layout.njk" %}

{% block head %}
    <title>Foodfy - Usuário</title>
{% endblock %}

{% block content %}
    <section>
        <div class="user-page-header">
            <h2>Editar Usuário</h2>

            <div class="user-page-header-create-buttons">
                <button type="submit" form="form-delete" class="create-button-delete">Deletar</button>
                
                <button type="submit" form="post-save" class="create-button-save">Salvar</button>
            </div>
        </div>

        <form id="form-delete" method="POST" action="/admin/users?_method=DELETE">
            <input type="hidden" name="id" value="{{ user.id }}">
        </form>

        <form method="POST" action="/admin/users?_method=PUT" id="post-save">
            <div class="user-info">
                {% include "admin/users/fields.njk" %}

                <div class="user-check-admin">
                    <input
                        type="checkbox"
                        name="is_admin"
                        value="true"
                        {% if user.is_admin %}
                            checked
                        {% endif %}                        
                    >Administrador
                </div>
            </div>

            <input type="hidden" name="id" value="{{user.id}}">
        </form>
    </section>

    <script src="/scripts/confirm-delete.js"></script>
{% endblock %}