{% extends "admin/users/layout.njk" %}

{% block head %}
    <title>Foodfy - {{ user.name }}</title>
{% endblock %}

{% block content %}
    <section>
        <form method="POST" action="/admin/profile?_method=PUT">
            <div class="user-page-header">
                <h2>Bem-vindo {{ user.name }}</h2>

                <button type="submit" class="button-save-profile">Salvar</button>
            </div>

            <div class="user-info">
                {% include "admin/users/fields.njk" %}

                <div class="item">
                    <div>Senha</div>

                    <input type="password" name="password" placeholder="Informe a senha cadastrada" required="required">
                </div>
            </div>

            <input type="hidden" name="id" value="{{user.id}}">
        </form>
    </section>

{% endblock %}