{% extends "admin/user/layout.njk" %}

{% block head %}
    <title>Foodfy - Cadastro de Usuário</title>
{% endblock %}

{% block content %}
    <section>
        <form method="POST" action="/admin/users/create" id="create-form">
            <div class="user-page-header-create">
                <div class="user-page-header-create-info">
                    <h2>Criar Usuário</h2>
                </div>

                <div class="user-page-header-create-buttons">
                    <button type="submit" class="create-button-save">Salvar</button>

                    <a href="/admin/users" class="create-button-cancel">Cancelar</a>
                </div>
            </div>

            <article class="user-info">
                {% include "admin/user/fields.njk" %}

                <div class="user-check-admin">
                    <input type="checkbox" name="is_admin" value="true">Administrador
                </div>
            </article>
        </form>
    </section>
{% endblock %}