{% extends "home/layout.njk" %}

{% block head %}
    <title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}
    <section>
        <article class="chefs">
            {% for chef in chefs %}
                <div class="chef">
                    <div class="chef-image">
                        <img src="{{ chef.file_src }}" alt="Chef {{ chef.name }}">
                    </div>
                    <div class="chef-content">
                        <p class="chef-name">{{ chef.name }}</p>
                        <div class="chef-recipes-number">
                            {% if chef.total_recipes == 0 %}
                                <p>Sem receita</p>
                            {% elif chef.total_recipes > 1 %}
                                <p>{{ chef.total_recipes }} receitas</p>
                            {% else %}
                                <p>{{ chef.total_recipes }} receita</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </article>
    </section>
{% endblock %}