<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        <link rel="stylesheet" href="/styles/home.css">
    </head>

    <body>
        <main>
            <nav>
                <div class="nav-image">
                    <a href="/">
                        <img src="/assets/logo-black.png" alt="Logo do Foodfy">
                    </a>
                </div>

                <div class="nav-links">
                    <a href="/sobre">Sobre</a>
                    <a href="/receitas">Receitas</a>
                    <a href="/chefs">Chefs</a>
                </div>

                <div class="nav-search">
                    <form action="/pesquisa" method="GET">
                        <input type="text" name="filter" placeholder="Buscar uma receita" value="{{filter}}">
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            </nav>

            {% block content %}{% endblock %}
        </main>

        {% include "admin/parts/footer.njk" %}
    </body>

</html>