{% extends "home/layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    <section>
        <article class="recipes">
            {% for recipe in recipes %}
                <div class="recipe">
                    <span class="recipe-id">{{ recipe.id }}</span>

                    <img src="{{ recipe.file_path }}" alt="Imagem do prato {{ recipe.title }}">

                    <p class="recipe-name">{{ recipe.title }}</p>

                    <p class="recipe-chef">por {{ recipe.chef_name }}</p>
                </div>
            {% endfor %}
        </article>
    </section>

    <script src="/scripts/redirect-for-recipe.js"></script>
{% endblock %}