{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    <section>
        <article class="recipes">
            {% for item in items %}
                <div class="recipe">
                    <img src="/img/recipes-small/{{item.image}}" alt="Imagem do prato {{ item.title }}">
                    <p class="recipe-name">{{ item.title }}</p>
                    <p class="recipe-chef">por {{ item.author }}</p>
                </div>
            {% endfor %}
        </article>
    </section>
    
    <script src="/js/scripts.js"></script>
{% endblock %}