/* Global */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #6558C3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 940px;
    margin: 0 auto;
}

/* Barra navegação */

nav {
    background-color: #111111;
}

.nav-width {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 213.3px 1fr;
    background-color: #111111;
}

nav .nav-image {
    padding: 36.1px 0 30px 0;
}

.nav-image img {
    width: 90.6px;
    height: 26.9px;
}

nav .nav-links {
    padding: 38px 0 36px 0;
}

.nav-links a {
    padding-right: 50px;
    font-size: 16px;
    text-decoration: none;
    color: #999999;
    font-weight: normal;
    text-transform: uppercase;
}

nav .nav-links a.link-active {
    font-weight: bold;
    color: #ffffff;
}

/* Listagem chefs */

section h2 {
    margin: 50px 0 30px;
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

section .chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.chef {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 20px;
}

.chef-image img {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.chef-content .chef-name {
    font-weight: normal;
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}

.chef-content .chef-chef {
    font-weight: normal;
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

.chef-content a {
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
}

/* Show chef */

.chef-page h2 {
    font-weight: Bold;
    font-size: 24px;
    color: #111111;
    margin-top: 55px;
}

.chef-page-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chef-page-title {
    text-align: center;
}

.chef-page-title img {
    width: 200px;
    width: 200px;
    border-radius: 50%;
}

.chef-page-title h1 {
    margin: 50px 0 4px;
    font-size: 36px;
    color: #111111;
}

.chef-page-title p {
    font-size: 20px;
    color: #777777;
    margin-bottom: 50px;
}

.chef-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.chef-recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.chef-recipe-image img {
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
}

.chef-recipe-name {
    font-size: 18px;
    color: #111111;
}

.name-chef {
    font-size: 14px;
    color: #777777;
}

.chef-recipe-content a {
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
}

.chef-page-buttons-action {
    margin-top: 60px;
    margin-left: auto;
}

.chef-page-buttons-action button, .chef-page-buttons-action a, .button-edit-save button {
    background-color: var(--primary-color);
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 9px 20px;
    box-sizing: border-box;
    width: auto;
    height: 37px;
    cursor: pointer;
}

/* Cadastro chef */

.chef-page .item label {
    display: block;
    margin-top: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #111111;
}

.chef-page .item input {
    box-sizing: border-box;
    width: 940px;
    height: 49px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 0 15px;
    margin-top: 10px;
}

.chef-page .item textarea {
    box-sizing: border-box;
    width: 940px;
    height: 257px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 15px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #111111;
    line-height: 24px;
}

.chef-page .item button {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: var(--primary-color);
    cursor: pointer;
}

/* Editar chef */

.chef-page-buttons-action form .button-delete {
    background-color: #dc4747;
}

.button-edit-save {
    display: grid;
    grid-template-columns: 1fr;
}

.button-edit-save button {
    margin-top: 10px;
    width: auto;
    margin-left: auto;
}

/* Footer */

footer {
    background-color: #eeeeee;
    margin-top: 40px;
    height: 62px;
}

footer p {
    padding: 23px 0;
    font-weight: normal;
    font-size: 14px;
    color: #999999;
    text-align: center;
}