/* Global */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 940px;
    margin: 0 auto;
}

/* Página inicial */

nav {
    display: grid;
    grid-template-columns: 213.3px 1fr 1fr;
}

nav .nav-image {
    padding: 36.1px 0 30px 0
}

.nav-image img {
    width: 90.6px;
    height: 26.9px;
}

nav .nav-links {
    padding: 38px 0 36px 0;
}

.nav-links a {
    padding-right: 50px;
    font-size: 16px;
    text-decoration: none;
    color: #111111;
    font-weight: normal;
}

.nav-search {
    margin-left: auto;
}

.nav-search input {
    box-sizing: border-box;
    width: 246px;
    height: 37px;
    padding: 0 15px;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-top: 28px;
}

.nav-search button {
    margin-left: 8px;
    width: 91px;
    height: 37px;
    background-color: #6558c3;
    border-radius: 4px;
    padding: 9px 20px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

header {
    height: 366px;
    background-color: #fbdfdb;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-text h1 {
    margin-top: 117px;
    margin-left: 60px;
    font-weight: bold;
    font-size: 32px;
    color: #111111;
}

.header-text p {
    margin-top: 10px;
    margin-left: 60px;
    width: 316px;
    opacity: 0.7;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.header-image-chef img {
    padding-top: 66px;
    padding-left: 154px;
    width: 216px;
    height: 300px;
}

section h2 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

section .recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe {
    cursor: pointer;
}

.recipe .recipe-id {
    display: none;
}

.recipe img {
    width: 300px;
    height: 140px;
    margin: 20px 0;
    border-radius: 15px;
    object-fit: cover;
}

.recipe .recipe-name {
    font-weight: normal;
    font-size: 18px;
    color: #111111;
}

.recipe .recipe-chef {
    font-weight: normal;
    font-size: 14px;
    color: #777777;
    margin: 5px 0 10px;
}

footer {
    background-color: #eeeeee;
    margin-top: 40px;
    height: 62px;
    margin-top: auto;
}

footer p {
    padding: 23px 0;
    font-weight: normal;
    font-size: 14px;
    color: #999999;
    text-align: center;
}

/* Página sobre */

section .text h1 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    margin: 30px 0 20px;
}

section .text h2 {
    font-weight: bold;
    font-size: 20px;
    color: #111111;
    margin: 30px 0 20px;
}

section .text p {
    font-weight: normal;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

/* Página da receita */

.recipe-page h2 {
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
}

.recipe-page img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
}

.recipe-page-title {
    text-align: center;
}

.recipe-page-title h1 {
    margin: 50px 0 4px;
    font-size: 36px;
    color: #111111;
}

.recipe-page-title p {
    font-size: 20px;
    color: #777777;
    margin-bottom: 50px;
}

.recipe-text {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.recipe-page-item-title {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.recipe-page-item-title p {
    padding-top: 62px;
}

/* Botão esconder/mostrar itens da receita */

.button-style {
    font-weight: bold;
    font-size: 12px;
    color: #999999;
    text-transform: uppercase;
    cursor: pointer;
    width: 80px;
}

.hidden-recipe {
    display: none;
}

/* Listagem chefs */

section h2 {
    margin: 50px 0 30px;
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

section .chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 30px;
}

.chef {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 20px;
}

.chef-image img {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.chef-content .chef-name {
    font-weight: normal;
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}

.chef-content .chef-chef {
    font-weight: normal;
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

.chef-content a {
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
}

.chef-recipes-number {
    font-size: 14px;
    color: #666666;
}

/* Página de pesquisa de receitas */
.recipes-search p {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

/* Paginação */

.pagination {
    margin: 18px 0;
    text-align: center;
}

.pagination a,
.pagination span {
    color: #6558c3;
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid #6558c3;
}

.pagination .active {
    font-weight: bold;
}

.pagination a+a {
    margin-left: 16px;
}

.pagination span {
    margin: 0px 16px;
}

/* Galeria mostra imagem */

.gallery-preview {
    width: 100%;
    height: 55px;
    display: inline-flex;
    justify-content: flex-end;
}

.gallery-preview img,
#recipe-description .gallery .gallery-preview img {
    margin: 4px;
    height: 50px;
    width: 50px;
    border-radius: 3.5px;
    float: right;
    object-fit: cover;
    opacity: 0.5;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: opacity 200ms;
}

.gallery-preview img.active,
#recipe-description .gallery .gallery-preview img.active {
    opacity: 1;
}

.highlight img {
    object-fit: cover;
}