/* Global */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #6558C3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}

/* Barra navegação */

nav {
    background-color: #111111;
}

.nav-width {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 213.3px 1fr;
    background-color: #111111;
}

nav .nav-image {
    padding: 36.1px 0 30px 0;
}

.nav-image img {
    width: 90.6px;
    height: 26.9px;
}

nav .nav-links {
    padding: 38px 0 36px 0;
    display: flex;
}

nav .nav-links a:nth-child(3) {
    margin-right: auto;
}

.nav-links a {
    padding-right: 50px;
    font-size: 16px;
    text-decoration: none;
    color: #999999;
    font-weight: normal;
    text-transform: uppercase;
}

.nav-links button {
    font-size: 16px;
    text-decoration: none;
    color: #999999;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #111111;
    cursor: pointer;
}

nav .nav-links a.link-active {
    font-weight: bold;
    color: #ffffff;
}

/* Footer */

footer {
    background-color: #eeeeee;
    margin-top: 40px;
    height: 62px;
    margin-top: auto;
}

footer p {
    padding: 23px 0;
    font-weight: normal;
    font-size: 14px;
    color: #999999;
    text-align: center;
}

/* Informações do usuário */

.user-page-header {
    margin: 50px 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-page-header h2 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

.user-page-header .edit-buttons a {
    background: var(--primary-color);
    border-radius: 4px;
    width: 139px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    padding: 10px 50px;
    text-decoration: none;
}

.user-page-header button.button-save-profile {
    background: var(--primary-color);
    border-radius: 4px;
    width: 139px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-info label {
    font-weight: bold;
    font-size: 16px;
    color: #111111;
}

.user-info input {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 450px;
    height: 49px;
    font-size: 16px;
    color: #111111;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 10px 0 36px;
}

/* Listagem usuários */
.user-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 200px;
}

.user-list-unique {
    margin-bottom: 52px;
}

.user-list-unique .user-list-name {
    font-size: 18px;
    color: #111111;
    margin-bottom: 4px;
}

.user-list-unique .user-list-email {
    font-size: 14px;
    color: #777777;
    margin-bottom: 16px;
}

.user-list-buttons {
    display: flex;
}

.user-list-buttons .user-list-edit a {
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    margin-right: 16px;
}

.user-list-buttons .user-list-remove button {
    font-size: 14px;
    color: #F55A5A;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

/* Cadastro usuário */
.user-page-header-create {
    margin: 50px 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-page-header-create h2 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

.user-page-header-create-buttons {
    display: flex;
    column-gap: 16px;
}

.user-page-header-create-buttons button {
    border-radius: 4px;
    width: 139px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.user-page-header-create-buttons a {
    border-radius: 4px;
    width: 139px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 9px 0;
    box-sizing: border-box;
}

.user-page-header-create-buttons .create-button-save {
    background-color: var(--primary-color);
    cursor: pointer;
}

.user-page-header-create-buttons .create-button-cancel {
    background-color: #8a8a8a;
    cursor: pointer;
}

.user-page-header-create-buttons .create-button-delete {
    background-color: #dc4747;
    cursor: pointer;
}

.user-check-admin input[type=checkbox] {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

/* Mensagem de sucesso/erro */
@keyframes hidemessage {
    to {
        top: -50px;
        opacity: 0;
    }
}

main .messages {
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    width: 344px;
    height: 135px;
    padding: 56px 35px;
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 1;
    animation: hidemessage 400ms 5s ease-out forwards;
}

.messages.success {
    background-color: #01b12a;
}

.messages.error {
    background-color: #dc4747;
}

/* Mensagem erro de e-mail com formatação errada */
.user-email .error {
    background-color: #e74c3c;
    padding: 8px;
    border-radius: 4px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}