/* Geral */

.user-page-header {
    margin: 50px 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-page-header h2 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

/* Listagem usuários */

.user-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 200px;
}

.user-list-unique {
    margin-bottom: 52px;
}

.user-list-unique .user-list-name {
    font-size: 18px;
    color: #111111;
    margin-bottom: 4px;
}

.user-list-unique .user-list-email {
    font-size: 14px;
    color: #777777;
    margin-bottom: 16px;
}

.user-list-buttons {
    display: flex;
}

.user-list-buttons .user-list-edit a {
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    margin-right: 16px;
}

.user-list-buttons .user-list-remove button {
    font-size: 14px;
    color: #F55A5A;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

/* Cadastro usuário */

.user-page-header-create h2 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

.user-page-header-create-buttons {
    display: flex;
    column-gap: 16px;
}

.user-page-header-create-buttons button {
    border-radius: 4px;
    width: 139px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.user-page-header-create-buttons a {
    border-radius: 4px;
    width: 139px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 9px 0;
    box-sizing: border-box;
}

.user-page-header-create-buttons .create-button-save {
    background-color: var(--primary-color);
    cursor: pointer;
}

.user-page-header-create-buttons .create-button-cancel {
    background-color: #8a8a8a;
    cursor: pointer;
}

.user-page-header-create-buttons .create-button-delete {
    background-color: #dc4747;
    cursor: pointer;
}

.user-check-admin input[type=checkbox] {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

/* Editar usuário comum / Perfil usuário comum */

.user-page-header button.button-save-profile {
    background: var(--primary-color);
    border-radius: 4px;
    width: 139px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-info label {
    font-weight: bold;
    font-size: 16px;
    color: #111111;
}

.user-info input {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 450px;
    height: 49px;
    font-size: 16px;
    color: #111111;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 10px 0 36px;
}

/* Mensagem erro de e-mail com formatação errada */
.user-email .error {
    background-color: #e74c3c;
    padding: 8px;
    border-radius: 4px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}