{% extends "layout-recipes.njk" %}

{% block head %}
    <title>Foodfy - Cadastro receita</title>
{% endblock %}

{% block content %}
    <section class="recipe-page">
        <form method="POST" action="/admin/recipes" enctype="multipart/form-data">
            <div class="recipe-page-header">
                <h2>Criando receita</h2>

                <div class="recipe-page-buttons-action">
                    <button type="submit">Salvar receita</button>
                </div>
            </div>

            {% include "admin/recipes/fields.njk" %}
        </form>
    </section>
{% endblock %}