{% extends "admin/recipes/layout.njk" %}

{% block head %}
    <title>Foodfy - Editar receita</title>
{% endblock %}

{% block content %}
    <section class="recipe-page">

        <div class="recipe-page-header">
            <h2>Criando receita</h2>

            <div class="recipe-page-buttons-action">
                <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">
                    <button type="submit" class="button-delete">Deletar</button>

                    <input type="hidden" name="id" value="{{ recipe.id }}">
                </form>
            </div>
        </div>

        <form method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
            <div class="button-edit-save">
                <button type="submit">Salvar receita</button>
            </div>

            <input type="hidden" name="id" value="{{ recipe.id }}">

            {% include "admin/recipes/fields.njk" %}
        </form>

    </section>

    <script src="/scripts/confirm-delete.js"></script>
{% endblock %}