{% extends "admin/recipes/layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    <section>
        <div class="recipe-page-header">
            <h2>Gerenciar receitas</h2>

            <div class="recipe-page-buttons-action">
                <a href="/admin/recipes/create">Cadastrar receita</a>
            </div>
        </div>

        <article class="recipes">
            {% for recipe in recipes %}
                <div class="recipe">
                    <div class="recipe-image">
                        <img src="{{recipe.src}}" alt="Imagem do prato {{ recipe.title }}">
                    </div>

                    <div class="recipe-content">
                        <p class="recipe-name">{{ recipe.title }}</p>
                        <p class="recipe-chef">por {{ recipe.chef_name }}</p>
                        <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </article>
    </section>

    <div class="pagination" data-total="{{pagination.total}}" data-page="{{pagination.page}}"></div>

    <script src="/scripts/pagination.js"></script>
{% endblock %}