{% extends "layout-recipes.njk" %}

{% block content %}
    <section>
        <h2>Gerenciar receitas</h2>

        <article class="recipes">
            {% for recipe in recipes %}
                <div class="recipe">
                    <div class="recipe-image">
                        <img src="{{recipe.image}}" alt="Imagem do prato {{ recipe.title }}">
                    </div>
                    <div class="recipe-content">
                        <p class="recipe-name">{{ recipe.title }}</p>
                        <p class="recipe-chef">por {{ recipe.chef_name }}</p>
                        <a href="recipes/{{ recipe.id }}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </article>
    </section>

    <script src="/js/scripts.js"></script>
{% endblock %}