<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        <link rel="stylesheet" href="/styles/recipes.css">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    </head>

    <body>
        <nav>
            <div class="nav-width">
                <div class="nav-image">
                    <a href="/admin/recipes">
                        <img src="/assets/logo-white.png" alt="Logo do Foodfy">
                    </a>
                </div>

                <div class="nav-links">
                    <a href="/admin/recipes" class="link-active">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                    {% if session.isAdmin %}
                        <a href="/admin/users">Usuários</a>
                    {% else %}
                        <a href="/admin/profile">Perfil</a>
                    {% endif %}
                    <form action="/logout" method="POST">
                        <button class="button-leave">Sair</button>
                    </form>
                </div>
            </div>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>

        {% include "admin/parts/footer.njk" %}
    </body>

</html>