{% extends "admin/recipes/layout.njk" %}

{% block head %}
    <title>Foodfy - {{ recipe.title }}</title>
{% endblock %}

{% block content %}
    <section class="recipe-page">
        <div class="recipe-page-header">
            <h2>Receita: {{ recipe.title }}</h2>

            {% if session.userId == recipe.user_id or session.isAdmin %}
                <div class="recipe-page-buttons-action">
                    <a href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
                </div>            
            {% endif %}
        </div>

        <div class="gallery">
            <div class="highlight">
                {% if not files[0] %}
                    <img src="http://placehold.it/500x500?text=RECEITA SEM FOTOS">
                {% else %}
                    <img src="{{files[0].src}}" alt="{{files[0].name}}">
                {% endif %}
            </div>
            <div class="gallery-preview">
                {% for image in files %}
                    <img src="{{image.src}}" alt="image.name" {% if loop.index0 == 0 %} class="active" {% endif %} onclick="ImageGallery.setImage(event)">
                {% endfor %}
            </div>
        </div>

        <div class="recipe-page-title">
            <h1>{{ recipe.title }}</h1>
            <p>por {{ recipe.chef_name }}</p>
        </div>

        <div class="recipe-page-ingredients">
            <div class="recipe-page-item-title">
                <h2>Ingredientes</h2>
                <p class="button-style button-hidden-ingredients hidden">Esconder</p>
            </div>
            <div class="recipe-page-items-ingredients">
                <ul>
                    {% for item in recipe.ingredients %}
                        <li class="recipe-text">{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="recipe-page-preparation">
            <div class="recipe-page-item-title">
                <h2>Modo de preparo</h2>
                <p class="button-style button-hidden-preparation hidden">Esconder</p>
            </div>
            <div class="recipe-page-items-preparation">
                <ol>
                    {% for item in recipe.preparation%}
                        <li class="recipe-text">{{ item }}</li>
                    {% endfor %}
                </div>
            </ol>
        </div>

        <div class="recipe-page-info">
            <div class="recipe-page-item-title">
                <h2>Informações adicionais</h2>
                <p class="button-style button-hidden-info hidden">Esconder</p>
            </div>
            <div class="recipe-page-items-info">
                <p class="recipe-text">{{ recipe.information }}</p>
            </div>
        </div>
    </section>

    <script src="/scripts/show-hidden-itens-recipe.js"></script>
    <script src="/scripts/carousel-images-recipe.js"></script>
{% endblock %}