{% extends "layout-website.njk" %}

{% block content %}
    <header>
        <div class="header-text">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>

        <div class="header-image-chef">
            <img src="/img/chef.png" alt="Desenho de um chef">
        </div>
    </header>

    <section>
        <h2>Mais acessadas</h2>

        <article class="recipes">
            {% for recipe in recipes %}
                <div class="recipe">
                    <span class="recipe-id">{{ recipe.id }}</span>

                    <img src="{{ recipe.file_path }}" alt="Imagem do prato {{ recipe.title }}">

                    <p class="recipe-name">{{ recipe.title }}</p>

                    <p class="recipe-chef">por {{ recipe.chef_name }}</p>
                </div>
            {% endfor %}
        </article>
    </section>

    <script src="/js/redirect-for-recipe.js"></script>
{% endblock %}